
body {
    background-color: lightblue;
}

nav {
    background-color: white;
    color: black;
}

/* comparison page */


#cbox1{
    border-radius: 10px;
}

.box-style1{
    border: 3px solid rgb(255, 255, 255);
}